body {
   background-color: #f4f4f9;
   font-family: 'Roboto', Arial, Helvetica, sans-serif;
   color: #333;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 100vh;
   margin: 0;
   text-align: center;
}

header {
   background-color: #4CAF50;
   color: white;
   padding: 20px 0;
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
   text-align: center;
   font-size: 1.5em;
   font-weight: bold;
}

.container {
   background-color: #fff;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 40px;
   border-radius: 10px;
   box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
   width: 90%;
   max-width: 400px;
   margin-top: 100px;
}

h1 {
   margin-bottom: 20px;
   font-size: 2em;
   color: #333;
}

.input-field {
   width: 100%;
   padding: 10px;
   margin: 10px 0;
   border: 1px solid #ccc;
   border-radius: 5px;
   font-size: 1em;
}

.btn {
   width: 100%;
   padding: 10px;
   margin: 10px 0;
   border: none;
   border-radius: 5px;
   font-size: 1em;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

.btn-login {
   background-color: #4CAF50;
   color: white;
}

.btn-login:hover {
   background-color: #45a049;
}

.btn-logout {
   background-color: #f44336;
   color: white;
}

.btn-logout:hover {
   background-color: #e53935;
}